<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>false</withJansi>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%highlight(%-5level) %cyan(%-36logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.netty" level="INFO"/>
    <logger name="com.zaxxer.hikari" level="ERROR"/>
    <logger name="io.javalin" level="WARN"/>
    <logger name="org.eclipse.jetty" level="WARN"/>
    <logger name="org.flywaydb.core.FlywayExecutor" level="WARN"/>
    <logger name="org.flywaydb.core.internal.schemahistory" level="WARN"/>
    <logger name="org.flywaydb.core.internal.database.base.Database" level="ERROR"/>
    <logger name="org.flywaydb.core.internal.command.DbMigrate" level="ERROR"/>

    <root level="INFO">
        <appender-ref ref="Console"/>
    </root>
</configuration>